{% extends 'base.html.twig' %}

{% block title %}liste des utilisateur{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="container">
        <h2>les Utilisateurs</h2>
        <table>
            <thead>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>CNI</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Username</th>
                <th>Type Compte</th>
            </thead>
           {% for user in form %}
            <tbody>
                <th>{{ user.id }}</th>
                <th>{{ user.nom }}</th>
                <th>{{ user.prenom }}</th>
                <th>{{ user.telephone }}</th>
                <th>{{ user.numeroCni }}</th>
                <th>{{ user.adresse }}</th>
                <th>{{ user.email }}</th>
                <th>{{ user.username }}</th>
                <th>
                    {% for role in user.roles %}
                        {{ role }}
                    {% endfor %}
                </th>
            </tbody>
            {% endfor %}
        </table>
    </div>
    {{ form_end(form) }}
{% endblock %}
