        <!DOCTYPE html>
        <html>
        <head>
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %}</title>
            {# Run `composer require symfony/webpack-encore-bundle`
               and uncomment the following Encore helpers to start using Symfony UX #}
            {% block stylesheets %}
                {#{{ encore_entry_link_tags('app') }}#}
            {% endblock %}



            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!--===============================================================================================-->
            <link rel="icon" type="image/png" href="{{ asset('login/images/icons/favicon.ico') }}"/>
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/iconic/css/material-design-iconic-font.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animsition/css/animsition.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/daterangepicker/daterangepicker.css') }}">
            <!--===============================================================================================-->
            <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css') }}">
            <!--===============================================================================================-->


            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">
            <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

            <title>Woutalema</title>

            <!-- Bootstrap core CSS -->
            <link href="{{ asset('acceuil/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


            <!-- Additional CSS Files -->
            <link rel="stylesheet" href="{{ asset('acceuil/assets/css/fontawesome.css') }}">
            <link rel="stylesheet" href="{{ asset('acceuil/assets/css/tooplate-main.css') }}">
            <link rel="stylesheet" href="{{ asset('acceuil/assets/css/owl.css') }}">

            {% block javascripts %}
                {#{{ encore_entry_script_tags('app') }}#}
            {% endblock %}
        </head>
        <body>
        <!-- Pre Header -->
        <div id="pre-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <span>Bienvenue dans notre page de recherche de Produit et de Prestation</span>
                    </div>
                </div>
            </div>
        </div>


        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="{{ path('acceuil') }}"><img src="{{ asset('acceuil/assets/images/Woutalema.png') }}" style="margin-top: -1%;" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('acceuil') }}">Acceuil
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('produit') }}">Produit</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('service') }}">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('all_prod') }}">Mes produits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('produit') }}">Mes Services</a>
                        </li>
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('logout') }}">Deconnexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Page Content -->
        <!-- Banner Starts Here -->
        <div class="banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="caption">
                            <h2>Woutalema</h2>
                            <div class="line-dec"></div>
                            <p>Votre Site de recherche de vente produits et d'offre de prestation 100% Senegalaise disponible 24h/24.<br><strong>Connectez-vous et commencez votre shopping</strong>
                                <br><br> <a rel="nofollow" href="https://www.facebook.com/tooplate/"></a> <a rel="nofollow" href="https://www.pexels.com"></a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Ends Here -->



        {% block body %}

        {% endblock %}
        </body>

        <hr>

        <footer>
            <!-- Footer Starts Here -->
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">

                        </div>
                        <div class="col-md-12">
                            <div class="footer-menu">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">How It Works ?</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer Ends Here -->


            <!-- Sub Footer Starts Here -->
            <div class="sub-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright-text">
                                <p>Copyright &copy; 2019 Company Name

                                    - Design: <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sub Footer Ends Here -->


            <!-- Bootstrap core JavaScript -->
            <script src="{{ asset('acceuil/vendor/jquery/jquery.min.js') }}"></script>
            <script src="{{ asset('acceuil/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>


            <!-- Additional Scripts -->
            <script src="{{ asset('acceuil/assets/js/custom.js') }}"></script>
            <script src="{{ asset('acceuil/assets/js/owl.js') }}"></script>





            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/jquery/jquery-3.2.1.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/animsition/js/animsition.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/bootstrap/js/popper.js') }}"></script>
            <script src="{{ asset('login/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/select2/select2.min.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/daterangepicker/moment.min.js') }}"></script>
            <script src="{{ asset('login/vendor/daterangepicker/daterangepicker.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/vendor/countdowntime/countdowntime.js') }}"></script>
            <!--===============================================================================================-->
            <script src="{{ asset('login/js/main.js') }}"></script>


            <script language = "text/Javascript">
                cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
                function clearField(t){                   //declaring the array outside of the
                    if(! cleared[t.id]){                      // function makes it static and global
                        cleared[t.id] = 1;  // you could use true and false, but that's more typing
                        t.value='';         // with more chance of typos
                        t.style.color='#fff';
                    }
                }
            </script>
        </footer>
        </html>
